{%load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/kanban.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/kanban.js' %}"></script>
    <title>Document</title>

</head>

<body>
    <div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
        <a class="boards-btn btn" href="{% url 'logout' %}">Log Out</a>
      </div>
   
    <section class="board-info-bar">
        <div class="boards-menu">
            
            <a class="boards-btn btn" href="/add_list/">
                <i class="fab fa-trello boards-btn-icon">
                </i> Add List
            </a>
            <a class="boards-btn btn" data-toggle="modal" data-target="#myModalCard">
                <i class="fab fa-trello boards-btn-icon">
                </i> Add Card
            </a>
           
        </div>
    </section>

    <section class="lists-container">
        {% for list in lists%}
        <div class="list">

            <h3 class="list-title">{{list.title}} 
                <a href="?del_list_id={{list.id}}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>

            </h3>

            <ul class="list-items">
                {% for k, v in cards.items %}
                {% if k == list.id %}
                {% for card in v%}
                <tr>
                    <td>
                        <a style="text-decoration:none" href="/card_info/{{card.id}}" data-toggle="modal"
                            data-target="#card_info">
                            <li>

                                {{card.title}}<br><br>

                        </a>
                    </td>
                    <td>
                        <a href="/card_update/{{card.id}}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>

                    </td>
                    <td>
                        <a href="?del_card_id={{card.id}}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </li>

                {% endfor %}
                {%endif%}
                {% endfor %}

            </ul>


        </div>
        {% endfor %}

    </section>

    <div class="modal fade" id="myModalCard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new card</h5>

                </div>
                <div class="modal-body">
                    <form action='.' method='POST'>
                        {% csrf_token %}
                        {{card_form|crispy}}
                        <input type='submit' value='Save' />

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="card_info" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-body">

                </div>

            </div>

        </div>
    </div>
</body>

</html>